#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#content5-3 .caption h3 {
  color: #fff;
}
#content5-3 P {
  color: #fff;
  text-align: right;
}
#testimonials1-8 .mbr-section__header {
  color: #ffffff;
}
#testimonials1-8 .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-8 .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-8 .mbr-reviews__text P {
  text-align: right;
}
#content4-9 P {
  text-align: right;
}
#contacts3-7 P {
  text-align: right;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#testimonials1-12 .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-12 .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-12 .mbr-section__header {
  color: #ffffff;
}
#msg-box1-13 h2 {
  color: #fff;
}
#msg-box1-13 p {
  color: #fff;
}
#msg-box1-13 P {
  text-align: right;
}
#msg-box1-13 H2 {
  text-align: right;
}
#msg-box1-14 h2 {
  color: #fff;
}
#msg-box1-14 p {
  color: #fff;
}
#msg-box1-14 H2 {
  text-align: right;
}
#msg-box1-14 P {
  text-align: right;
}
#content5-15 .caption h3 {
  color: #fff;
  text-align: right;
}
#content5-15 P {
  color: #fff;
  text-align: right;
}
#content4-17 P {
  text-align: right;
}
